.business-communication .business-communication__title h3 {
    color: #ff6e1c;
    font-weight: 700;
    margin-bottom: 45px;
}

.business-communication__body .communication {
    background-color: #28282b;
    padding: 30px 10px;
    margin: 30px;
}

.communication h5 {
    color: #ff6e1c;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.communication p {
    color: #fff;
    text-align: justify;
    margin: 0px 30px;
}