
    @media (max-width: 912px) {
        .header__social {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .header__navbar {
            margin-left: 0;
        }
    }

    @media (width: 820px) {
        .header__navbar {
            margin-left: 250px;

        }
    }

    @media (width: 768px) {
        .header__navbar {
            margin-left: 250px;

        }
    }

    @media (width: 912px) {
        .header__navbar {
            margin-left: 250px;

        }
    }
    

    


