.services-counseling {
    .services {
        a {
            color: #fff;
            padding: 5px 50px;
            background-color: #28282b;
            border-radius: 8px;
            margin-right: 80px;
        }
    }

    .counseling {
        a {
            color: #fff;
            padding: 5px 50px;
            background-color: #28282b;
            border-radius: 8px;
        }
    }
}