.consulting-details {
    .consulting__title {
        h3 {
            color: #ff6e1c;
            font-weight: 700;
            font-size: 35px;
            
        }
    }
    .consulting__diagram {
        margin: 40px 0px;
    }

    .consulting__desc {
        color: #fff;
        text-align: justify;
        margin-bottom: 80px;

    }
}