{% extends 'main.html' %}
{% load static %}
{% static "" as baseUrl %}
{% block content %}

    <section class="page-nav">
      <div class="container">
        <p>
          <a class="text-decoration-none" href="../index.html">HOME > </a> SERVICES > {{service.title}}
        </p>
      </div>
    </section>

    <section class="service-details">
      <div class="container">
          <div class="service__title">
              <h3>{{service.title}}</h3>
          </div>
          <div class="service__desc">
              <img class="w-100" src="{{ baseUrl }}/static/images/{{service.featured_image}}" alt="Service Image"/>
              <p class="date">{{service.created}}</p>
              <p class="service__detail">{{service.description}}</p>
          </div>
      </div>
    </section>

{% endblock content %}